@import "tailwindcss";

body {
  background-color: #1771cb;
}

@keyframes rotorTurn {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.rotor-animate {
  animation: rotorTurn 0.3s ease-out;
}

.lamp-active {
  box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.7);
}

.plugboard-cable {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 0.5s ease-in forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.drawer-transition {
  transition: transform 0.3s ease-out;
}